/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 50%;
}

#introduction article {
	flex: 1;
	padding-left: 2.5%;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filters {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #1D6154;
	margin-bottom: 5%;
}

.filtersElements {
	padding: 10px;
	border: 1px solid #1D6154;
	border-radius: 60px;
}

.logInTitle {
	margin-top: 20%;
	display: flex;
	justify-content: center;
}

.forgotPw {
	color: #3D3D3D;
	display: flex;
	justify-content: center;
}

.legalNotice {
	margin-top: 25%;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}

#errorMsg {
	display: flex;
	justify-content: center;
	color: red;
	font-size: x-large;
	margin-top: 2.5%;
}

.editorMode {
	display: flex;
	justify-content: center;
	color: #FFF;
	background-color: #000000;
	font-size: larger;
	padding: 5px;
}

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
	overflow: auto;
	width: 600px;
	height: 80%;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding: 20px;
	background-color: #FFF;
}

.modal-content {
	display: grid;
	grid-template-columns: 100px 100px 100px 100px 100px;
	gap: 20px;
}

.modal-content img {
	width: 90px;
	
}
.modal-content article {
	position: relative;
}
.modal-content .modal-delete-btn {
	background-color: #000000;
	color: white;
	position: absolute;
	top: 5px;
	right: 15px;
	border-radius: 5px;
}
.modalTitle {
	display: flex;
	align-items: center;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	margin: 5%;
}

.modalDeletePicture {
	display: flex;
	justify-content: center;
	color: red;
}

.xMark {
	display: flex;
	justify-content: flex-end;
}

.addPictureStyle {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 220px;
	height: 30px;
	text-align: center;
	border-radius: 60px ;
	display: flex;
	justify-content: center;
	align-items: center;
}

.editBtnStyle {
	color: #000000;
	font-size: small;
	margin-left: 2.5%;
	
}

.modalStyleLine {
	background-color: grey;
	height: 1px;
	width: 600px;
}

.modalAddPictTitle {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
}

.modalAddPictSubtitle {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	margin-top: 25px;
	margin-left: 90px;
}

.styleLine {
	background-color: grey;
	height: 1px;
	width: 600px;
	margin-top: 25px;
}

.btnAddPictModal {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: grey;
	margin : 2em auto ;
	width: 220px;
	height: 30px;
	text-align: center;
	border-radius: 60px ;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inputModalStyle {
	width: 420px;
	height: 51px;
	margin-left: 90px;
	margin-top: 5px;
	background: #FFFFFF;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.blueStyle {
	margin-left: 90px;
	margin-top: 25px;
	width: 420px;
	height: 200px;
	background-color: #E8F1F7;
}

.stylePictIcon {
	display: flex;
	justify-content: center;
	font-size: 100px;
	color: #B9C5CC;
	padding-top: 10px;
}

.fileWeight {
	display: flex;
	justify-content: center;
	color: #444444;
	margin-top: 10px;
}

.btnUploadStyle {
	margin-left: 140px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #306685;
	border: solid;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	width: 120px;
	border-radius: 50px;
}

.testImageE {
	margin-left: 130px;
	width: 150px;
	height: 200px;
}